<div class="container-fluid">
        <div class="row">
             <div class="col-sm-11 bg-blue bor-or1 mar-l"><h1 class="cl-wt">Nosotros</h1>
                <p class="font-3 cl-wt">
                        En Tensai somos unos genios en nuestra área, estamos comprometidos con la calidad de sus productos
                        y servicios, dedicandonos a ser cada día mejores y principalmente en el
                        área de diseño y fabricación relacionada al mundo del retail.
                        Encontrando en este lugar todo lo relacionado con el retail, ya sea el
                      diseño y/o fabricacion de un o muchos muebles para su marca, o cualquiera sea la publicidad
                  que requiera para esta como lo son: gigantografías, impresiones con aderencia, murales, carteles personalizados,
                  muebles personalizados para la marca y
              mucho más. 
                </p>
             </div>
           
            <div class="col-sm-6 bg-or2 bor-or1 mar-l"><h1 class="cl-wt">Misión</h1>
                <p class="font-3 cl-wt">
                    Entregar un proyecto a corde a sus necesidades, con la calidad y prestaciones que todos los 
                    clientes necesitan además entregar sus productos en el tiempo justo.
                 </p>
            </div>
            <div class="col-sm-5 bg-yel1 bor-or1 mar-l"><h1 class="cl-wt">Visión</h1>
                <p class="font-3 cl-wt">
                        Como empresa, queremos posicionarnos dentro de las mejores marcas de retail del país,
                        con herramientas para crear proyectos mas grandes y superando la precision actual.
                </p>
            </div>

        </div>
</div>