<div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 bg-blue"><img class="cont-img cont-img-r mb-3 mt-3 ml-3" src="../../assets/portafolio/1501250022425.jpg" alt="Fabricacion cartel Jack Daniels"></div>
            <div class="col-sm-8 bg-blue"><h1 class="cl-wt">Fabricación</h1><p class="font-3 cl-wt">
                Somos especialistas fabricando cualquier proyecto que necesite o tenga en mente,
                ya que contamos con todo la instrumental, material y profesinales necesarios para 
                cumplir con las mejores espectativas. Destacando entre cualquier otra empresa debido
                a que nosotros si contamos con "taller" propio para hacer y deshacer como queramos sin
                perdidas de tiempo ni dineros innecesarias, reduciendo sus costos, sus tiempos de
                producción y mejorando la calidad que otros lugares podrían ofrecerle.
            </p></div>
            <div class="triangle bg-blue"></div>
            <div  class="col-sm-12 m-0 d-flex row d-wrap justify-content-center pt-5 pb-3">

           
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
                   
                    <img id="1" [ngClass]="{}" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/fabricacion/1561559659308.jpg" alt="">
                      
    
                </div>
           
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
    
                    <img id="2" [ngClass]="{}" class="card-img-top cont-por-w  w-100 h-100 card-por" src="../../assets/servicios/fabricacion/IMG_20190911_134604.jpg" alt="">
    
    
                </div>
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
    
                    <img id="3" [ngClass]="{}" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/fabricacion/1566573899034.jpg" alt="">
    
    
                </div>
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
    
                    <img id="3" [ngClass]="{}" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/fabricacion/1564685653938.jpg" alt="">
    
    
                </div>
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
    
                    <img id="3" [ngClass]="{}" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/fabricacion/1564118596232.jpg" alt="">
    
    
                </div>
               
        </div>
        </div>