<div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 bg-blue"><img class="cont-img cont-img-r mb-3 mt-3 ml-3" src="../../assets/fotos(1)/mural.jpeg" alt=""></div>
            <div class="col-sm-8 bg-blue"><h1 class="cl-wt">Impresion</h1><p class="font-3 cl-wt">
               Nuestra sala de impresión cuenta con Plotters para lograr una impresion clara y precisa
               de hasta 1520mm de ancho por el alto que sea necesario. Además podrá complementar con un 
               gran abanico de estilos de papeles diferentes para lograr una imagen duradera, 
               de calidad y precisa para cada hambiente al cual usted exponga dicha impresion. 
            </p></div>
            <div class="triangle bg-blue"></div>
            <div  class="col-sm-12 m-0 d-flex row d-wrap justify-content-center pt-5 pb-3">       
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
        
                       
                    <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/impresion/GRAFICA.jpg" alt="">
                      
    
                </div>
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
        
                       
                    <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/impresion/HELADOS PALETTAS.jpg" alt="">
                      
    
                </div>
                
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
        
                       
                    <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/impresion/IMG-20161006-WA0017.jpg" alt="">
                      
    
                </div>
                
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
        
                       
                    <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/impresion/MALL VIVO PANORAMICO.png" alt="">
                      
    
                </div>
                <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
        
                       
                    <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/impresion/PALETAS ZOFRI 2.png" alt="">
                      
    
                </div>
                
                
        </div>
        </div>