<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 bg-blue">
      <img
        class="cont-img cont-img-r mb-3 mt-3 ml-3"
        src="../../assets/portafolio/IMG-20170429-WA0017.jpg"
        alt="bastidor puma"
      />
    </div>
    <div class="col-sm-8 bg-blue">
      <h1 class="cl-wt">Bastidores</h1>
      <p class="font-3 cl-wt">
        Los bastidores publicitarios son publicidad estática usada
        principalmente para cubrir muros y separar ambientes, habitualmente
        visten gráficas artísticas decorativas, por esto mismo es que nos encargamos de
        crear lo mejor en bastidores, para que el hambiente que desees lograr no solo
        se vea bonito, sino que tambien demuestre lo que quiere la empresa.
      </p>
    </div>
    <div class="triangle bg-blue"></div>
    <div  class="col-sm-12 m-0 d-flex row d-wrap justify-content-center pt-5 pb-3">       
      <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">

             
          <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/trabajos/bastidores/1502983180963.jpg" alt="">
            

      </div>
      <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">

             
        <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/trabajos/bastidores/1503318432219.jpg" alt="">
          

    </div>
      
    <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">

             
      <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/trabajos/bastidores/1561640139843.jpg" alt="">
        

  </div>
      
  
      

  </div>
</div>
