<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 bg-blue">
      <img
        class="cont-img cont-img-r mb-3 mt-3 ml-3"
        src="../../assets/fotos(1)/muebleria con bodega1.png"
        alt=""
      />
    </div>
    <div class="col-sm-8 bg-blue">
      <h1 class="cl-wt">Diseño</h1>
      <p class="font-3 cl-wt">
        En nuestra sala de especializada en impresión contamos con personal
        instrudio y capacitado para diseñar lo que sea que usted necesite o
        tenga en mente, para solucionar sus dudas.
      </p>
    </div>
    <div class="triangle bg-blue"></div>

    <div class="col-sm-3 card d-flex ml-3 mt-3 border-0">
      <img
        id="1"
        
        class="card-img-top cont-por-w w-100 h-100 card-por"
        src="../../assets/servicios/diseno/MEDIDAS.jpg"
        alt=""
      />
    </div>

    <div class="col-sm-3 card d-flex ml-3 mt-3 border-0">
      <img
        id="1"
       
        class="card-img-top cont-por-w w-100 h-100 card-por"
        src="../../assets/servicios/diseno/PARANTE 1.jpg"
        alt=""
      />
    </div>
  </div>
</div>
