<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 bg-blue">
      <img
        class="cont-img cont-img-r mb-3 mt-3 ml-3"
        src="../../assets/portafolio/muebleria stand palettas.png"
        alt="Stand publicitario de paletas"
      />
    </div>
    <div class="col-sm-8 bg-blue">
      <h1 class="cl-wt">Stand publicitario</h1>
      <p class="font-3 cl-wt">
        Es donde se expone y presenta sus productos o servicios. Si son de
        tamaño considerable se le suele llamar también pabellón, así como
        expositor si es de pequeño tamaño. Los stand publicitarios creados en
        tensai cumplen con el objetivo de todo stand, ser el medio por el cual
        la gente puede visualizar la marca, o producto de su empresa, pero con exelente
        calidad para que la impresion del cliente siempre sea la mejor.
      </p>
    </div>
    <div class="triangle bg-blue"></div>
    <div  class="col-sm-12 m-0 d-flex row d-wrap justify-content-center pt-5 pb-3">       
      <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">

             
          <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/trabajos/stand publicitario/FABRICADO E IMPLEMENTADO.jpeg" alt="">
            

      </div>
      <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">

             
        <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/trabajos/stand publicitario/IMG-20200116-WA0031.jpeg" alt="">
          

    </div>
  </div>
</div>
