<div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 bg-blue"><img class="cont-img cont-img-r mb-3 mt-3 ml-3" src="../../assets/fotos(1)/muebleria stand palettas.png" alt="implementacion mueble stand paletta"></div>
            <div class="col-sm-8 bg-blue"><h1 class="cl-wt">Implementacion</h1><p class="font-3 cl-wt">
                Además de poder crear y/o fabricar cualquier diseño que tenga en mente, tambien podemos
                instalar dicho producto publicitario junto a los mejores profesionales para así obtener 
                un servicio completo en un mismo lugar sin perder calidad en su trabajo.
            </p></div>
            <div class="triangle bg-blue"></div>
        </div>
        <div  class="col-sm-12 m-0 d-flex row d-wrap justify-content-center pt-5 pb-3">       
            <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
                   
                <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/implementacion/1561640139843.jpg" alt="">
                  

            </div>
            <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
                   
                <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/implementacion/1502983180963.jpg" alt="">
             

            </div>
            <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
                   
                <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/implementacion/1503318432219.jpg" alt="">
             

            </div>
   
            <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
                   
                <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/implementacion/ANTES.jpg" alt="">
             

            </div>
            <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
                   
                <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/implementacion/GTD MANQUEHUE LISTO.jpeg" alt="">
             

            </div>
            <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
                   
                <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/implementacion/IMG-20191016-WA0020.jpg" alt="">
             

            </div>
            <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
                   
                <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/implementacion/IMG-20191016-WA0024.jpeg" alt="">
             

            </div>
            <div  class="col-sm-3 card d-flex ml-3 mt-3 border-0">
    
                   
                <img id="1" [ngClass]="" class="card-img-top cont-por-w w-100 h-100 card-por" src="../../assets/servicios/implementacion/FABRICACION EXHIBIDORES PUMA.JPG" alt="">
             

            </div>
        </div>
        </div>