/* You can add global styles to this file, and also import other style files */
@import  url('../node_modules/bootstrap/dist/css/bootstrap.css');


.ng-valid[required], .ng-valid.required {border: 1px solid #42A948;}
.error {color:#ff0000;}
.success { color:green; }
.contact-message { text-align: center; }